<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form method="post" action="{% url 'polls:check' %}">
        {% csrf_token %}
        姓名: <input type="text" name='uname'>
        密码: <input type="text" name='password'>
        DNA1<input type="text" name='data'>
        DNA2<input type="text" name='data'>
        DNA3<input type="text" name='data'>
        type<input type="text" name='type'>
    <input type="submit" value="提交">
    </form>
</head>
<body>

</body>
</html>